.navbar{
	text-align: center;
	background-color: darkgray;
	padding-bottom: 7px;
	margin-bottom: 14px;
	border-radius: 10px;
	padding: 20px;
	border: 2px solid black;
}

.navbar a{
	text-decoration: none;
	color:black;
	width: 150px;
    display: inline-block;
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
    border:2px solid black;
}

.navbar a:hover{
	background-color: #ccc;
	border-radius: 10px;
}

.intro{
	text-align: center;
    background-color: black;
    color: white;
    padding: 200px;
    background-image: url(https://wallpapers.com/images/hd/youtube-thumbnail-dark-blue-skies-s547fxbuemt18mxg.jpg);
    border-radius: 16px;
   line-height: 50px;
}
.intros{
	color: black;
	text-decoration: none;
	border: 20px solid white;
	background-color: white;
	border-radius: 11px;
}

.companya img{
	float: right;
	width: 250px;
	margin:30px;
	margin-top: 0;
}

.companya{
	color: black;
	width: 80%;
	margin: 45px auto;
}

.companya h1{
	text-align: center;
 }

#team{
	margin-top: 200px;
	text-align: center;
}

.member{
	display: inline-block;
	width: 20%;
	border-radius: 15px;
    border:2px solid grey;
    min-width: 300px;
    margin-bottom: 20px;
}

.member img{
	width: 100%;
	border: 3px;
}

#contact{
	padding: 30px;
}

#contact input{
	width: 100%;
	margin-bottom: 15px;
	height: 90px;
}

#contact button{
	padding: 10px;
	margin-bottom: 25px;
	border-radius: 10px;
	padding: 7px;
}

.info{
	text-align: left;
	padding-left: 30px;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 18px 18px;
}

.tiktok{
	background-image: url(image/tiktok.png);
}

.facebook{
    background-image: url(image/facebook.png);
}

.vk{
	background-image: url(image/vk.png);
}


